body {
    background-color: var(--gray-light);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imagenfondo.png");
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.8);
    z-index: -2;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45); 
    backdrop-filter: blur(2px);
    z-index: -1;
}

/*  RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*  COLORES  */
:root {
    --gray-light: #f2f2f2;
    --gray-mid: #d9d9d9;
    --gray-dark: #4d4d4d;
    --gray-text: #333;
    --gray-border: #ccc;
}

.container {
    background: #fff;
    padding: 30px;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}


/*  TITULOS  */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--gray-dark);
}

/*  FORMULARIOS  */
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

input {
    padding: 12px;
    border: 1px solid var(--gray-border);
    border-radius: 6px;
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: var(--gray-dark);
}

label {
    display: block;      /* Hace que el label ocupe toda la línea */
    margin-bottom: 4px;  /* Espacio entre el label y el input */
    font-weight: bold;   /* Opcional, lo hace más claro */
    color: var(--gray-dark);
}

/*  BOTONES  */
button {
    padding: 12px;
    background-color: var(--gray-dark);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    
}

button:hover {
    background-color: #333;
}

/*  LINKS  */
.small-link {
    text-align: center;
    margin-top: 10px;
}

.small-link a {
    color: var(--gray-dark);
    text-decoration: none;
    font-weight: bold;
}

/*  MENSAJES  */
.error {
    color: red;
    font-size: 14px;
}

.success {
    color: green;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        width: 90%;   /* En celu ocupa casi todo */
    }
}

